@import "bootstrap";



@font-face {
  font-family: "Sofia Pro Medium Italic";
    src: asset-data-url('Sofia Pro Medium Italic.otf');
}

@font-face {
  font-family: "Sofia Pro Medium";
    src: asset-data-url('Sofia Pro Medium.otf');
}

@font-face {
  font-family: "Sofia Pro Light";
    src: asset-data-url('Sofia Pro Light.otf');
}

@font-face {
  font-family: "Sofia Pro Ultra Light Italic";
    src: asset-data-url('Sofia Pro Ultra Light Italic.otf');
}

body {
  background-color: #181019;
}

.log-reg-page {
  width: 100%;
  text-align: center;
}

.app-logo {
  margin: 0 auto;
  width: 100%;
  margin-left: 0px;
}

.image-responsive {
  margin-left: 0px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.form-control {
  max-width: 70%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  color: white;
}

.btn-info {
  margin: 0px auto;
  background-color: #F46694;
  font-family: "Sofia Pro Medium";
  max-width: 70%;
}

.btn-info:hover {
  background-color: #F46694;
  font-family: "Sofia Pro Light"
}


.btn-info:visited {
  background-color: #F46694;
  font-family: "Sofia Pro Light"
}

.row {
  margin: 0px auto;
}

 h1 {
  color: #F79198;
}

.alert-danger {
  margin: 0px auto;
  max-width: 70%;
}

#log-reg {
  text-align: center;

}

.alert {
  color: #EC4F82;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 5px;
  padding: 1px;
}

.modal {
  color: black;
}

.song-title {
  font-family: Sofia Pro Light;
}

.song-artist {
  font-family: Sofia Pro Light;
}

.song-album {
  font-family: Sofia Pro Ultra Light Italic;
}

a {
  color: #00D966;
  font-family: Sofia Pro Light;
  margin-top: 30px;
}

a:hover {
  text-decoration: none;
  color: #F46694;
  font-family: Sofia Pro Light;
}

.center-log-reg {
  margin-top: 20%;
}

.currently-playing, .past-and-present {
  color: #EC4F82;
}

@media screen and (max-width: 770px){
  a {
    font-size: 0.8em;
  }

  .form-control {
    max-width: 90%
  }

  .alert-danger {
    max-width: 90%;
  }

  .btn-info {
    max-width: 90%;
  }

  .log-reg-page {
    width: 100%;
    text-align: center;
  }

  .app-logo {
    margin: 0 auto;
    width: 100%;
    margin-left: 0px;
  }

  .image-responsive {
    margin-left: 0px;
  }
}

@media screen and (min-width:771px) and (max-width:1040px){
  a {
    font-size: 1em;
  }

  .log-reg-page {
    width: 100%;
    text-align: center;
  }

  .app-logo {
    margin: 0 auto;
    width: 100%;
    margin-left: 0px;
  }

  .image-responsive {
    margin-left: 0px;
  }
}
