<div class="col-md-8">
  <div class="col-md-12">
    <h1>Select a WeJ Playlist</h1>
  </div>
  <div class="form-group">
    <%= bootstrap_form_tag url: "/playlists/verify", hide_label: true do |f| %>
    <%= f.select(:id, options_for_select(@playlists), class: "selectpicker", hide_label: true) %>
  </div>
  <%= f.submit "Select", class: "btn btn-info", role: "button" %>
  <% end %>
  <div class="col-md-12">
    <h1>or Add a Spotify Playlist</h1>
    <%= link_to "+", new_playlist_path, class: "btn btn-info", role: "button" %>
  </div>
</div>
