<div id="requests-remaining">
  Requests remaining: <%= @votes_remaining %>
</div>
<div id="<%= @playlist.id %> search-div">
  <form action="/spotify" method="POST" name='search' id="search-form">
    <input type="search" name="query" id="search-box" placeholder="Start typing a song...">
    <button type='submit' id="song-submit-button">Request</button>
  </form>
<div id="search-results">
</div>
</div>
<div id="song-list">
  <%= render 'playlistsongs' %>
</div>
